@using System.Text.Encodings.Web
@model IEnumerable<Song>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>title</h2>
<button class="btn btn-primary" id="but">Click</button>
<span class="displayMusic"></span>


<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Song name</th>
        <th scope="col">Author</th>
        <th scope="col">Upload date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var song in Model)
    {
        <tr scope="row">
            <td>@song.IdSong</td>
            <td>@song.Title</td>
            <td>@song.User.NickName</td>
            <td>@song.DateOfRelease.ToShortDateString()</td>
            @*<td>
                    <audio controls>
                        <source src="~/music/musicfiles/@song.SongFile" type="audio/mpeg"/>
                    </audio>
                </td>*@
            <td><div class="btn btn-primary" onclick="StartTrack((@song.IdSong),'@song.Title','@song.User.NickName','@song.SongFile')"> Play</div></td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    <script src="~/js/Fujky.js"></script>
}