
@{
    ViewData["Title"] = "Index";
}

<h6 class="display-1 mb-3">Overview</h6>
<hr/>

<ul class="row justify-content-between text-start mt-2 bla-text">
    <div class="shadow-lg rounded lead col-lg-2 bg-info m-1 pb-2">
        <h3 class="display-6 fw-bolder ">Songs</h3>
        <hr/>
        <p class="lead">Počet Songs: @ViewBag.CountSongs</p>
        <a class="btn bg-light text-end">Zobrazit</a>
    </div>

    <div class="shadow rounded lead col-lg-2 bg-info m-1 pb-2">
        <h3 class="display-6 fw-bolder ">Albums</h3>
        <hr />
        <p class="lead">Počet Albums: @ViewBag.CountAlbums</p>
        <a class="btn bg-light text-end">Zobrazit</a>
    </div>

    <div class="shadow rounded lead col-lg-2 bg-info m-1 pb-2">
        <h3 class="display-6 fw-bolder">Users</h3>
        <hr />
        <p class="lead">Počet Users: @ViewBag.CountUsers</p>
        <a class="btn bg-light text-end" asp-controller="User" asp-action="Index" asp-route-id="0">Zobrazit</a>
    </div>

    <div class="shadow rounded lead col-lg-2 bg-info m-1 pb-2">
        <h3 class="display-6 fw-bolder ">Artists</h3>
        <hr />
        <p class="lead">Počet Artists: @ViewBag.CountArtist</p>
        <a class="btn bg-light text-end">Zobrazit</a>
    </div>

    <div class="shadow rounded lead col-lg-2 bg-info m-1 pb-2">
        <h3 class="display-6 fw-bolder ">Categories</h3>
        <hr />
        <p class="lead">Počet Categories: @ViewBag.CountCategories</p>
        <a class="btn bg-light text-end">Zobrazit</a>
    </div>
    @*        <p class="shadow rounded lead col-2 bg-info">Počet Songs: @ViewBag.CountSongs</p>
        <p class="shadow rounded lead col-2 bg-info">Počet Albums: @ViewBag.CountAlbums</p>
        <p class="shadow rounded lead col-2 bg-info">Počet Users: @ViewBag.CountUsers</p>
        <p class="shadow rounded lead col-2 bg-info">Počet Artists: @ViewBag.CountArtist</p>
        <p class="shadow rounded lead col-2 bg-info">Počet Categories: @ViewBag.CountCategories</p>*@
</ul>
