@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SongVM
@{
    ViewData["Title"] = "Upsert";
}


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="song.IdSong" hidden/>
    <div >
        <div>
            <h2 class="display-3">User Edit</h2>
        </div>
        <div asp-validation-summary="All"></div>

        <div class="row mx-3 mb-5">
            <div class="col-8">
                <div class="form-floating mb-3">
                    <input asp-for="song.Title" type="text" class="form-control" id="floatingInput" placeholder=" ">
                    <label asp-for="song.Title" for="floatingInput" class="bla-text">Title</label>
                    <span asp-validation-for="song.Title"></span>
                </div >
                <div class="row">
                    <h4>Additional information</h4>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="song.DiscNo" type="number" class="form-control" id="floatingInput" placeholder=" ">
                            <label asp-for="song.DiscNo" for="floatingInput" class="bla-text">DiscNo</label>
                            <span asp-validation-for="song.DiscNo"></span>
                        </div >
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="song.TrackNo" type="text" class="form-control" id="floatingInput" placeholder=" ">
                            <label asp-for="song.TrackNo" for="floatingInput" class="bla-text">TrackNo</label>
                            <span asp-validation-for="song.TrackNo"></span>
                        </div >
                    </div>
                    <div class="col d-flex flex-column fs-5">
                        <div class="form-check form-switch">
                            <input asp-for="song.Verified" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"/>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Verified</label>
                        </div>
                        <div class="form-check form-switch">
                            <input asp-for="song.NoCopyRight" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"/>
                            <label class="form-check-label" for="flexSwitchCheckDefault">NoCopyRightMusic</label>
                        </div>
                    </div>

                </div>
                <div>
                    <select asp-for="song.IdUser" asp-items="@Model.UserList" class="form-select">
                        <option disabled selected>--Select User--</option>
                    </select>
                </div>
                <div>
                    <select asp-for="song.IdCategory" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                </div>
                <div>
                    <h4>Song File</h4>
                    <div class="">
                        <input asp-for="song.SongFile" name="File" type="file" class="form-control">
                        <span asp-validation-for="song.SongFile"></span>
                    </div>
                </div>
                @if (@Model.song.IdSong != 0)
                {
                    <div>
                        <div>Listen</div>
                        <audio controls style="width: 100%">
                            <source src="~/music/musicfiles/@Model.song.SongFile" type="audio/mpeg"/>
                        </audio>
                    </div>
                }
            </div>
            <div class="col-4">
                @if (Model.song.IdSong == 0)
                {
                    <img class="img-thumbnail mb-2" src="~/images/ProfilePics/2f0218fe-47ca-449b-9f7f-f11aa5409d31ProfilePic.jpg"/>
                }
                else
                {
                    <img class="img-thumbnail mb-2" src="@Model.song.ImageFile"/>
                }


                <h5>Picture</h5>
                <input asp-for="song.ImageFile" name="File" type="file" class="form-control">
            </div>

        </div>
        <div class="d-flex justify-content-between mx-5 ">
            <button class="btn btn-info fs-2 p-3" asp-action="Index">Back</button>
            <button class="btn btn-primary fs-2 p-3" type="submit">@(Model.song.IdSong == 0 ? "Create" : "Edit")</button>
        </div>
    </div>

</form>